venv/
__pycache__/
*.pyc
*.pkl
*.db
reports/*.png
modules/eeg/model/*.pth
modules/eeg/model/*.png
modules/eeg/dataset/*.csv
modules/eeg/dataset/*.png
modules/eeg/dataset/dataset_meta.json
modules/ppg/model/*.pth
modules/ppg/model/*.png
modules/ppg/dataset/*.csv
modules/ppg/dataset/*.png
modules/ppg/dataset/dataset_meta.json
modules/spo2/model/*.pth
modules/spo2/model/*.png
modules/spo2/dataset/*.csv
modules/spo2/dataset/*.png
modules/spo2/dataset/dataset_meta.json
modules/thermal/model/*.pth
modules/thermal/model/*.png
modules/thermal/dataset/**/*.png
modules/thermal/dataset/dataset_meta.json
modules/thermal/dataset/sample_grid.png